@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

img {
  transition: all ease 0.5s;
}

img:hover {
  height: 80vh;
  width: auto;
  margin-top: 20px;
}
