<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/NASA_Worm_logo.svg.png">
    <title>{{.Title}}</title>
</head>
<body>
    <div class="container">
        <h1>{{.Title}}</h1>
        <p><strong>Copyright:</strong> {{.Copyright}}</p>
        <p><strong>Date:</strong> {{.Date}}</p>
        <img src="{{.Hdurl}}" alt="{{.Title}}">
        <p>{{.Explanation}}</p>
    </div>
</body>
</html>
